.button {
    -fx-background-color: #FF0000;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #FF0056;
    -fx-cursor: hand;
}

.text-field {
    -fx-border-color:  	#FFFFFF;
    -fx-background-color: #202020;
    -fx-background-color: 0;
    -fx-border-radius: 20;
    -fx-text-fill: 	#FFFFFF;
}

.top-buttons {
    -fx-font-family: System Bold;
    -fx-font-size: 17.0;
    -fx-text-fill: #FFFFFF;
}

.color-buttons {
    -fx-background-radius: 20em;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}

.container-for-buttons {
    -fx-background-color: #181818;
    -fx-background-radius: 30em;
}

#topPane {
    -fx-background-color: #FF0000;
}

#backgroundPane {
    -fx-border-color: #FF0000;
    -fx-border-width: 3;
}

#mainPane {
    -fx-background-color: #202020;
}

#labelX {
    -fx-cursor: hand;
    -fx-text-fill: #000000;
}

#buttonRemove {
    -fx-font-size: 16.0;
}

#titleLabel {
    -fx-font-size: 18.0;
}

#searchLabel {
    -fx-font-size: 14.0;
}

#colorRed {
    -fx-background-color: #FF0000;
}

#colorYellow {
    -fx-background-color: #ffbe2f;
}

#colorGreen {
    -fx-background-color: #28cc42;
}

/*
============================= TABLES =============================
 */

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #202020;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}


.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: red;
}

.column-header.green-header {
    -fx-text-background-color: #28cc42;
}

.column-header.red-header {
    -fx-text-background-color: #FF0000;
}

.column-header.yellow-header {
    -fx-text-background-color: #ffbe2f;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-border-color: #282828;
}

.table-row-cell:hover {
    -fx-background-color: #202020;
    -fx-text-background-color: red;
}

.table-row-cell:hover .green-hover {
    -fx-text-background-color: #28cc42;
}

.table-row-cell:hover .red-hover {
    -fx-text-background-color: #FF0000;
}

.table-row-cell:hover .yellow-hover {
    -fx-text-background-color: #ffbe2f;
}

.table-row-cell {
    -fx-background-color: #202020;
    -fx-text-background-color: #909090;
}

.table-row-cell:selected {
    -fx-background-color: red;
    -fx-text-background-color: #202020;
}

.table-row-cell:selected .green-selection {
    -fx-text-background-color: #202020;
    -fx-background-color: #28cc42;
}

.table-row-cell:selected .red-selection {
    -fx-text-background-color: #202020;
    -fx-background-color: #FF0000;
}

.table-row-cell:selected .yellow-selection {
    -fx-text-background-color: #202020;
    -fx-background-color: #ffbe2f;
}

